.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

table {
  width: 100%;
}

.mat-button-base {
  margin: 20px 8px 8px 8px;
}
.mat-column-id {
  width: 12%;
  border-right: 1px solid currentColor;
  text-align: center;
}
.mat-column-kolumna1 {
  width: 22%;
  border-right: 1px solid currentColor;
  padding-left: 5px;
  text-align: center;
}

.mat-column-kolumna2 {
  width: 22%;
  border-right: 1px solid currentColor;
  padding-left: 5px;
  text-align: center;
}
.mat-column-kolumna3 {
  width: 22%;
  border-right: 1px solid currentColor;
  padding-left: 5px;
  text-align: center;
}
.mat-column-kolumna4 {
  width: 22%;
  padding-left: 5px;
  text-align: center;
}
