

<mat-drawer-container class="container">
  <mat-drawer mode="side" opened>
    <mat-toolbar color="primary">
      <span>SunCode application</span>
    </mat-toolbar>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>Columns from tabela_testowa</mat-label>
        <mat-select [(ngModel)]="selectedColumn" name="column">
          <mat-option *ngFor="let column of columns" [value]="column.value">
            {{column.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <section>
        <button mat-raised-button color="primary" (click)="getDuplicatesByColumn(this.selectedColumn)">Duplicates</button>
        <button mat-raised-button color="primary" (click)="getUniquesByColumn(this.selectedColumn)">Uniques</button>
      </section>
    </form>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <span>{{selectedFunction}}</span>
    </mat-toolbar>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="kolumna1">
        <th mat-header-cell *matHeaderCellDef>kolumna1</th>
        <td mat-cell *matCellDef="let element"> {{element.kolumna1}} </td>
      </ng-container>

      <ng-container matColumnDef="kolumna2">
        <th mat-header-cell *matHeaderCellDef>kolumna2</th>
        <td mat-cell *matCellDef="let element"> {{element.kolumna2}} </td>
      </ng-container>

      <ng-container matColumnDef="kolumna3">
        <th mat-header-cell *matHeaderCellDef>kolumna3</th>
        <td mat-cell *matCellDef="let element"> {{element.kolumna3}} </td>
      </ng-container>

      <ng-container matColumnDef="kolumna4">
        <th mat-header-cell *matHeaderCellDef>kolumna4</th>
        <td mat-cell *matCellDef="let element"> {{element.kolumna4}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-drawer-content>
</mat-drawer-container>

